<?xml version="1.0" encoding="UTF-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
                                                package="com.ak.wifissidwidget"
                                                android:versionCode="65"
                                                android:versionName="0.18.8"
                                                android:installLocation="internalOnly" >

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- necessary on android >= 8.0 for read-out of SSID.
         see: https://developer.android.com/reference/android/net/wifi/WifiManager#getConnectionInfo() -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        <!-- Widget Broadcast receiver -->
        <receiver android:name=".WifiSSIDWidgetAppWidgetProvider" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/wifi_ssid_widget_provider" />
        </receiver>
        <service android:name=".UpdateWidgetService"></service>

        <!-- Connectivity broadcast receiver -->
        <receiver android:name=".WifiStateReceiver" android:label="WifiStateReceiver">
            <!-- WIFI change events -->
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <!-- android.net.wifi.supplicant.CONNECTION_CHANGE
                        Broadcast intent action indicating that a connection to the supplicant has been established (and it is now possible to perform Wi-Fi operations) or the connection to the supplicant has been lost. One extra provides the connection state as a boolean, where true means CONNECTED.
                    android.net.wifi.WIFI_STATE_CHANGED
                        Broadcast intent action indicating that Wi-Fi has been enabled, disabled, enabling, disabling, or unknown. One extra provides this state as an int. Another extra provides the previous state, if available.
                    android.net.wifi.STATE_CHANGE -
                        Broadcast intent action indicating that the state of Wi-Fi connectivity has changed. One extra provides the new state in the form of a NetworkInfo object. If the new state is CONNECTED, a second extra may provide the BSSID of the access point, as a String.
                            -->
            </intent-filter>
            <!-- Widget Broadcast receiver when upgrading application -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" android:path="com.ak.wifissidwidget" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
