<?xml version="1.0" encoding="UTF-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ak.wifissidwidget"
    android:versionCode="19"
    android:versionName="0.14.7"
    android:installLocation="internalOnly" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
	<uses-permission 
	    android:name="android.permission.ACCESS_WIFI_STATE">
	</uses-permission>       

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >


    <!--  Broadcast Receiver -->
    <receiver android:name=".WifiSSIDWidget" android:label="@string/app_name">
        <intent-filter> 
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/> 
        </intent-filter>
        <meta-data android:name="android.appwidget.provider" android:resource="@xml/wifi_ssid_widget_provider" />
    </receiver>   
    
    <receiver android:name=".Broadcaster" android:label="Broadcaster">
        <intent-filter> 
            <action android:name="android.net.wifi.STATE_CHANGE"/>
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />            
            <!-- android.net.wifi.supplicant.CONNECTION_CHANGE
				 	Broadcast intent action indicating that a connection to the supplicant has been established (and it is now possible to perform Wi-Fi operations) or the connection to the supplicant has been lost. One extra provides the connection state as a boolean, where true means CONNECTED.            
            	 android.net.wifi.WIFI_STATE_CHANGED
            	 	Broadcast intent action indicating that Wi-Fi has been enabled, disabled, enabling, disabling, or unknown. One extra provides this state as an int. Another extra provides the previous state, if available.
            	 android.net.wifi.STATE_CHANGE - 
            	 	Broadcast intent action indicating that the state of Wi-Fi connectivity has changed. One extra provides the new state in the form of a NetworkInfo object. If the new state is CONNECTED, a second extra may provide the BSSID of the access point, as a String.
            		 -->
        </intent-filter>
    </receiver>   
    <service android:name=".UpdateWidgetService"></service>   
        
    </application>

</manifest>
